// A holder for legacy code until i figure out to keep it or not.

.ou__container.uploader-single {
  span.ou-status-label, span.ou-size-label {
  width:100%;
}

.ou__actions input {
  z-index:10000;
}

// .qq-upload-delete etc. will override .btn-block with display:inline;
.btn.btn-block {
  display:block;
}

.btn.btn-block.qq-hide {
  display:none;
}

.ou__drop-area span.qq-hide {
  display:none;
}

.select-overlay {
  background:black;
  display:none;
  height:100%;
  left:0;
  opacity:0.1;
  position:absolute;
  top:0;
  width:100%;
}

.qq-progress-bar-container-selector {
  margin:0 10px;
}

// list element
/*
&.qq-upload-success .ou-size-label {
  display: block;
  top: 163px;
  font-size: 14px;
}
*/
