// Colors
@drop_area_border_color:#ccc;
@primary_drag_placeholder_border:#ccc;
@upload_error_background:#fff6f4;
@upload_error_border:#f8cdcd;
@upload_success_background:#f3faf8;
@upload_success_border:#bfd1cf;
@upload_thumbnail_placeholder_border:#D3C2A3;
@upload_thumbnail_placeholder_border_error:#FCB9B9;
@upload_thumbnail_placeholder_border_success:#A6CFC3;

// Padding & Margins
@drop_area_padding:20px;
@upload_area_top_margin:20px;
@upload_margin:15px;
@upload_padding:10px;

// Widths and heights
@upload_height:152px;
@upload_width:122px;
